.controls-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: #eeeeee;
}

.control-group {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0;
    padding: 10px;
    width: 100%;
    max-width: 400px;
}

.control-title {
    font-weight: bold;
    margin-right: 10px;
}

.control-item {
    flex-grow: 1;
}