.word {
    margin-right: 8px;
}

.word-syllable-count {
    font-size: 0.5em;
    color: gray;
    margin-left: 4px;
}

.total-syllables {
    font-size: 0.9em;
    color: red;
    margin-left: 12px;
}

.poem-counted-word-group {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 8px;
}