.poem-text-input {
    border: none;
    outline: none;
    box-sizing: border-box;
    overflow: hidden;
    text-align: center;
    resize: none !important;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.3) !important;
}