* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

.app-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.main-content {
  display: flex;
  flex: 4;
}

.text-editor {
  flex: 1;
  margin: 20px;
}

.controls {
  flex: 1;
  margin: 30px;
  background-color: lightgray;
}